.accordions-container {
    @include flex(column, center, flex-start);
    @include respond-to(medium) {
        @include flex(row, space-between, flex-start);
    }
    gap: 10px;
    margin-bottom: 2em;
    .accordion {
        flex: 1;
    }
}

.accordion {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin: 15px 0;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(92, 50, 50, 0.1);

    &-title {
        background: $primary-color;
        padding: 10px 15px;
        cursor: pointer;
        font-weight: bold;
        @include flex(row, space-between, center);
        color: #fff;
        border-radius: 5px;
        transition: background 0.3s ease;

        &:hover {
            background: darken($primary-color, 10%);
        }

        &:after {
            content: '\25BC';
            font-size: 12px;
            transition: transform 0.3s ease;
        }

        &.open:after {
        transform: rotate(180deg);
        }
    }

    &-content { 
        max-height: 0; 
        overflow: hidden; 
        background-color: $secondary-color;
        transition: max-height 0.3s ease, padding 0.3s ease; padding: 0 15px; 

        &.open { 
            max-height: 10em;
            padding: 15px; 
        } 
    }
}
  