.image-reel {
    position: relative;
    height: 15em;
    @include respond-to(medium) {
        height: 27em;
    }
    background-size: cover;
    background-position: center;
    text-align: center;
    border-radius: 20px;
    margin-bottom: 2rem;;

    @include fadeIn(0, 1, 0.6s, ease);

    .arrow-button {
        position: absolute;

        &--previous {
            top: 50%;
            left: 1rem;
            transform: translateY(-50%);
        }

        &--next {
            top: 50%;
            right: 1rem;
            transform: translateY(-50%);
        }
    }
  }
  